<!--The content below is only a placeholder and can be replaced.-->
<!-- <button [tooltip]="myTooltip">element on which this tooltip is applied.</button> -->

<div class="row">
  {{date | date:'short'}}
</div>

<div class="row">
  <a [routerLink]='["/home"]'>home</a> |
  <a [routerLink]='["/books"]'>books</a> |

  <a [routerLink]='["/contact"]'>contact us</a>| 
  <a [routerLink]='["/registation"]'>registation</a> |
  <a [routerLink]='["/login"]' >log out</a>
</div>
<div class="pool-right">
 
</div>
<div>
  <router-outlet></router-outlet>
</div>